@use "../../scss/" as *;

.headerAdmin__container{
    width: 100%;
    display: grid;
    grid-template-columns: 400rem 1fr 200rem;
    align-items: center;

    .logoAdmin{
        cursor: pointer;
        width: 150rem;
    }

    .searchLogoContainer{
        display: flex;
        align-items: center;
        gap: 30rem;
    }

    .nav{
        display: flex;
        gap: 24rem;
        align-items: center;
        justify-content: center;

        .navItem {
            @include fnt(16, 22, $color: $black);

            &.active{
                color: $blue;
            }
        }
    }
}