@use "../../scss/" as *;

.block-table-container {
    background-color: $white;
    width: 100%;
    padding: 20rem 28rem;
    border-radius: 8rem;
    margin-top: 18rem;

    .block-table-header {
        display: grid;
        padding-bottom: 18rem;
        border-bottom: 1rem solid $gray-400;
        margin-bottom: 18rem;
        width: 100%;
    }

    .block-table-body {
        display: grid;
        width: 100%;
        position: relative;
        align-items: center;

        .block-table-row {
            padding-bottom: 18rem;
            border-bottom: 1rem solid $gray-50;
            margin-bottom: 18rem;
        }
      
    }
 
}

.containerRowButtons{
    display: flex;
    align-items: center;
    gap:2rem;

    .redactButton{
        width: 18rem;
        pointer-events: all;
        cursor: pointer;
    }

    .deleteButton{
        pointer-events: all;
        cursor: pointer;
    }
}
