@use "../../../scss/" as *;

.filterBlock{
    padding: 12px;
    border: 1rem solid $gray-300;
    border-radius: 12rem;
}

.filtersContainer{
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.filterLayerContainer{
    display: flex;
    align-items: center;
    gap: 12rem;
}

.removeFilter{
    pointer-events: all;
    cursor: pointer;
    margin-top: 20rem;
}