@use "../../scss/" as *;

.MapPageContainer{
    display: flex;
}

.searchContainer{
    position: absolute;
    top: 30rem;
    left: 50%;
    transform: translateX(-50%);
    width: 500rem;
    height: 30rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    .inputSearch{
        width: 188rem;
    }
}